.section-projects {
    padding: 13rem 7rem 1rem 7rem;
    max-height: 87rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.section-work {
    padding: 13rem 7rem 1rem 7rem;
    display: flex;
    justify-content: center;
    max-height: 92rem;
    overflow: hidden;
}

.section-about {
    padding: 13rem 7rem 1rem 7rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.section-contact {
    padding: 13rem 7rem 1rem 7rem;
    height: 92rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
