.section-projects {
    padding: 13rem 7rem 1rem 7rem;
    height: 92vh;
    max-height: 87rem;
    overflow: hidden;
}

.section-work {
    padding: 13rem 7rem 1rem 7rem;
    height: 92vh;
    max-height: 89rem;
    overflow: hidden;
}

.section-about {
    padding: 13rem 7rem 1rem 7rem;
    height: 100vh;
    overflow: hidden;
}

.section-contact {
    padding: 13rem 7rem 1rem 7rem;
    height: 95vh;
    overflow: hidden;
}
