.card {
    width: 27rem;
    height: 45rem;
    padding: 2rem 2rem;
    position: relative;
    @include neumorph(false, 16px, 36px, 2rem, #202327, #32373d);
    background: linear-gradient(145deg, #25292d, #2c3036);

    &__top {
        z-index: 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
        height: 32rem;
        padding: 2rem;
        background-color: #f9f9f9;
        background-image: linear-gradient(80deg, #fffb7d 0%, #aced81 90%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
        transition: all 0.4s;
    }

    &__overview {
        font-size: 1.4rem;
        font-family: Lato-Bold;
        text-align: center;
        color: black;
    }

    &:hover &__top {
        transform: translateY(-5rem);
        height: calc(80% + 5rem);
        animation-name: cards;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__description {
        font-size: 1.4rem;
        font-family: Biotif-Regular;
        text-align: start;
        color: black;
        text-transform: uppercase;
        height: 2rem;

        &--back {
            opacity: 0;
            height: 0;
        }
    }

    &:hover &__description--front {
        animation-name: moveOutUpTitle;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &:hover &__description--back {
        animation-name: moveInUpTitle;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__list {
        margin-top: 1.5rem;
        text-align: start;
        list-style: none;
        font-size: 1.4rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin: 2px 0;
        font-family: Lato-Bold;
        transition: all 0.4s;

        &--front {
            margin: 0px 0;
        }

        &--back {
            font-size: 0;
            opacity: 0;
        }
    }

    &:hover &__item--front {
        animation-name: moveOutUpList;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &:hover &__item--back {
        animation-name: moveInUpList;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__icon {
        width: 3.5rem;
        font-size: 2.9rem;
        transition: all 0.4s;
        text-align: center;

        &--back {
            font-size: 0rem;
        }
    }

    &:hover &__icon--front {
        animation-name: moveOutUpIcon;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &:hover &__icon--back {
        animation-name: moveInUpIcon;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__date {
        width: 100%;
        padding: 0 0.5rem;
        text-align: start;
        margin-top: 2.1rem;
        font-family: Biotif-Italic;
        font-size: 1.1rem;
        color: #898a89;
        opacity: 0;
        transition: all;
        transition: opacity 0.3s 0.4s;
    }
    &:hover &__date {
        opacity: 1;
    }
    &__bottom {
        position: absolute;
        top: 34rem;
        left: 2rem;
        display: flex;
        width: 23rem;
        justify-content: center;
        align-items: center;
        height: 6.2rem;
    }

    &__title {
        flex: 1.3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6rem;
        //background-color: #85ffbe;
        &--name {
            font-size: 2.9rem;
            color: rgb(205, 204, 204);
            font-family: $font-bold;
        }

        &--platform {
            font-size: 1.3rem;
            color: rgb(175, 175, 175);
            font-family: $font-light;
            text-transform: uppercase;
        }
    }

    &__more {
        height: 100%;
        flex: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
