.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 35rem 35rem 35rem 35rem;
    grid-template-rows: 12rem 12rem 12rem 12rem;
    justify-content: space-between;

    @include respond(tab-port-small) {
        grid-template-columns: 35rem;
        grid-template-rows: 12rem 12rem 12rem 12rem;
        gap: 9rem;
        justify-content: center;
        & > div {
            grid-column-start: 1;
            grid-column-end: 2;
            transform: scale(1.4);
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    transition: all 0.6s;
    color: $color-white;
    overflow: hidden;
    @include neumorph(false, 1rem, 3rem, 2rem, $box-shadow-one, $box-shadow-two);
    &:hover {
        border: 2px solid #22242a;
    }

    &--a {
        z-index: 100;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;

        &:hover {
            transform: translateY(-13rem);
            animation-name: work;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }
    }
    &--b {
        z-index: 80;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;

        &:hover {
            transform: translateY(-13rem);
            animation-name: work;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }
    }
    &--c {
        z-index: 70;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;

        &:hover {
            animation-name: work;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }
    }
    &--d {
        z-index: 60;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;

        &:hover {
            animation-name: work;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }
    }

    &__experience {
        display: flex;
        justify-content: space-between;

        align-items: flex-end;
        &--company {
            font-family: $font-bold;
            font-size: 2.5rem;
        }
        &--location {
            font-family: $font-light;
            font-size: 1.7rem;
        }
    }

    &__position {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        flex: 1;

        &--name {
            font-family: $font-regular;
            font-size: 1.8rem;
        }

        &--date {
            font-family: $font-light;
            font-size: 1.4rem;
        }
    }

    &__desc-container {
        padding: 0.8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__line {
        margin-top: 0.7rem;
        background-color: $secondary-color;
        width: 100%;
        overflow: hidden;
        min-height: 0.1rem;
    }

    &__responsibility {
        opacity: 0;
        font-family: $font-regular;
        color: $color-white;
        padding: 1rem 0rem;
        font-size: 1.7rem;
        transition: all 0.7s;
    }

    &:hover > &__responsibility,
    &:hover > &__tools {
        animation-name: tools;
        animation-duration: 0.7s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
    &__tools {
        opacity: 0;
        margin-top: 0.5rem;
        list-style: none;
        font-family: $font-regular;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        font-size: 1.6rem;
        column-gap: 7%;

        &--item {
            color: $color-white;
            margin-bottom: 0.5rem;

            &::before {
                content: "\2022"; /* Unicode bullet symbol */
                color: $secondary-color;

                padding-right: 1rem;
            }
        }
    }
}
