*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    background: $primary-color;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;

    @media only screen and (max-width: $bp-largest) {
        font-size: 56%;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 53%;
    }

    @media only screen and (max-width: $bp-laptop) {
        font-size: 49%;
    }
}

body {
    box-sizing: border-box;
    font-family: Biotif-Medium;
    padding: 2rem;
}

::selection {
    background-color: rgb(49, 49, 49);
    color: black;
}

section {
    padding: 13rem 7rem 1rem 7rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cover {
    @include cover();
    &--noshadow {
        box-shadow: none;
        border: none;
    }
    &__container {
        @include container;
        &--about {
            letter-spacing: 1px;
        }

        &--contact {
            justify-content: center;
            align-items: center;
        }
    }
}
