*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    background: $primary-color;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
   box-sizing: border-box;
    font-family: Biotif-Medium;
    padding: 2rem;
}

::selection {
    background-color:rgb(49, 49, 49);
    color: black;
}