.navigation {
    z-index: 900;
    height: 100vh;
    width: 0%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.is-active {
        @extend .navigation;
        width: 100%;
        opacity: 1;
        background-color: $color-white;
    }

    @media (min-width: $bp-tab-land) {
        opacity: 0;
        width: 0%;
        background-color: transparent;
    }

    &__hamburger {
        position: fixed;
        top: 10rem;
        left: 7rem;
        z-index: 1000;
        display: none;
        padding: 1.5rem;
        height: 60px;
        width: 60px;
        border-radius: 100rem;
        background-color: $color-white;

        @include respond(tab-land) {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(1.2);
        }
    }

    &__link {
        &:link,
        &:visited {
            font-family: $font-regular;
            margin: 3.5rem;
            font-size: 6rem;
            color: $primary-color;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            color: $secondary-color;
        }
    }

    &__social {
        margin-top: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7rem;
        color: $primary-color;
        font-size: 6rem;
    }
}
