.heading {
    align-self: flex-start;

    //background-color: red;

    &__secondary {
        padding-left: 0.2rem;
        color: $secondary-color;
        display: block;
        font-family: $font-regular;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        // line-height: 160%;
        user-select: none;
        -webkit-user-select: none; /*Safari*/
        -moz-user-select: none;
    }

    &__tertiary {
        font-size: 5.5rem;
        color: $color-white;
        display: block;
        letter-spacing: 0.2rem;
        font-family: $font-light;
        user-select: none;
        -webkit-user-select: none; /*Safari*/
        -moz-user-select: none;
    }
}
