.heading-secondary {
    color: $secondary-color;
    display: block;
    font-family: Biotif-Regular;
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 160%;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none;
}


.heading-tertiary {
    font-size: 5.5rem;
    color: rgb(205, 204, 204);
    display: block;
    letter-spacing: .2rem;
    font-family: Biotif-Medium;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none;
}