/// COLORS
$primary-color: #292d32;
$secondary-color: #cfee9e;
$tertiary-color: #dfcc62;
$color-white: rgb(207, 207, 207);

//FONT FAMILIES
$font-regular: Biotif-Regular;
$font-light: Lato-Light;
$font-bold: Lato-Bold;

//SHADOWS & BORDERS
$box-shadow-one: #23262b;
$box-shadow-two: #2f343a;
$border-color: #252a2d;

//PADDING
$section-padding: 6rem 6rem;

//BREAKPOINTS
$bp-big-desktop: 116em; //1856px
$bp-desktop: 103.87em; //1662px
$bp-big-laptop: 96em; //1552px
$bp-laptop: 87em; //1392px
$bp-small-laptop: 78.12em; //1250px
$bp-tab-land: 69.3em; //1109px
