@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flame {
    0% {
        height: 2rem;
        width: 2rem;
    }
    50% {
        height: 1.7rem;
        width: 1.7rem;
    }
    100% {
        height: 2rem;
        width: 2rem;
    }
}

@keyframes cards {
    0% {
        background-color: antiquewhite;
    }
    30% {
        background-color: antiquewhite;
        opacity: 0.9;
    }

    100% {
        opacity: 1;
        background-image: url("../../img/plant.jpg");

        background-size: cover;
    }
}

@keyframes work {
    0% {
        height: calc(100% + 2rem);
    }

    100% {
        height: calc(100% + 13rem);
    }
}

@keyframes tools {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
