@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flame {
    0% {
        height: 2rem;
        width: 2rem;
    }
    50% {
        height: 1.7rem;
        width: 1.7rem;
    }
    100% {
        height: 2rem;
        width: 2rem;
    }
}

@keyframes cards {
    0% {
        background-color: antiquewhite;
    }
    30% {
        background-color: antiquewhite;
        opacity: 0.9;
    }

    100% {
        opacity: 1;
        background-image: url("../../img/plant.jpg");
        background-size: cover;
    }
}

@keyframes work {
    0% {
        height: calc(100% + 2rem);
    }

    100% {
        height: calc(100% + 13rem);
    }
}

@keyframes tools {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInUpTitle {
    0% {
        opacity: 0;
        font-size: 1.4rem;
        position: relative;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        font-size: 1.4rem;
        transform: translateY(0rem);
        height: 2rem;
    }
}

@keyframes moveOutUpTitle {
    0% {
        opacity: 1;
        position: relative;
        transform: translateY(0rem);
    }

    100% {
        opacity: 0;
        transform: translateY(-5rem);
        height: 0;
    }
}

@keyframes moveInUpList {
    0% {
        opacity: 0;
        font-size: 1.4rem;
        position: relative;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        font-size: 1.4rem;
        transform: translateY(0rem);
    }
}

@keyframes moveOutUpList {
    0% {
        opacity: 1;
        position: relative;
        transform: translateY(0rem);
    }

    100% {
        opacity: 0;
        transform: translateY(-5rem);
        height: 0;
    }
}

@keyframes moveInUpIcon {
    0% {
        font-size: 3rem;
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        font-size: 3rem;
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes moveOutUpIcon {
    0% {
        opacity: 1;
        transform: translateY(0rem);
        font-size: 0;
    }

    100% {
        opacity: 0;
        transform: translateY(-5rem);
        height: 0;
    }
}
