@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes flame{
    0% {height:2rem; width:2rem;}
    50% {height:1.7rem; width:1.7rem;}
    100% {height:2rem; width:2rem;}
  }
  
  @keyframes cardPocket {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
    }
    50% {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    }
}
  