@mixin btn($height, $width, $font-size, $color) {
    height: $height;
    width: $width;
    font-size: $font-size;
    color: $color;
}
/// NEUMORPH STYLING
@mixin neumorph($inset, $distance, $blur, $border-radius, $shadow-one, $shadow-two) {
    @if $inset {
        box-shadow: inset $distance $distance $blur $shadow-one,
            inset calc(0px - $distance) calc(0px - $distance) $blur $shadow-two;
    } @else {
        box-shadow: $distance $distance $blur $shadow-one, calc(0px - $distance) calc(0px - $distance) $blur $shadow-two;
    }
    background: $primary-color;
    border: 2px solid $border-color;
    border-radius: $border-radius;
}

/// SECTION LAYOUT
@mixin cover() {
    height: 100%;
    width: 100%;
    padding: $section-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include neumorph(true, 33px, 70px, 5rem, #202428, #32363d);
    overflow: hidden;
    gap: 7rem;
    max-width: 173em;
}

@mixin container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == tab-land {
        @media (max-width: $bp-tab-land) {
            @content;
        }
    }
    @if $breakpoint == small-laptop {
        @media (max-width: $bp-small-laptop) {
            @content;
        }
    }
    @if $breakpoint == laptop {
        @media (max-width: $bp-laptop) {
            @content;
        }
    }
    @if $breakpoint == big-laptop {
        @media (max-width: $bp-big-laptop) {
            @content;
        }
    }
    @if $breakpoint == desktop {
        @media (max-width: $bp-desktop) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (max-width: $bp-big-desktop) {
            @content;
        }
    }
}
