@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/navigation";

@import "layout/typing";
@import "layout/header";
@import "layout/about";
@import "layout/work";
@import "layout/contact";
@import "layout/footer";

@import "icons/fontawesome.scss";
@import "icons/solid.scss";
@import "icons/brands.scss";

@import "components/button.scss";
@import "components/project-popup.scss";
@import "components/card.scss";
@import "components/list.scss";
@import "components/hamburger.scss";
@import "components/photocircle.scss";

//fonts
@font-face {
    font-family: Biotif-Regular;
    src: url(../fonts/Biotif-Regular.ttf);
}

@font-face {
    font-family: Biotif-Bold;
    src: url(../fonts/Biotif-Bold.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}
