/// COLORS
$primary-color: #292d32;
$secondary-color: #cfee9e;
$tertiary-color: #decd63;
//A0C89B #dec95e
$color-white: rgb(207, 207, 207);

$box-shadow-one: #212429;
$box-shadow-two: #30353b;

$border-color: #252a2d;

///FONT FAMILIES
