.section-projects {
    padding: 10rem 7rem;
    height: 95vh;
    
}

.section-work {
    padding: 10rem 7rem;
    height: 95vh;
}

.section-about {
    padding: 10rem 7rem;
    height: 95vh;
}

.section-contact {
    padding: 10rem 7rem;
    height: 80vh;
}