.section-projects {
    //background-color: yellow;
    padding: 25rem 0;
    height: 80vh;
    
}

.section-work {
    background-color: rgb(76, 0, 255);
    padding: 25rem 0;
    height: 80vh;
}

.section-about {
    background-color: rgb(8, 167, 120);
    padding: 25rem 0;
    height: 80vh;
}

.section-contact {
    background-color: rgb(255, 0, 200);
    padding: 25rem 0;
    height: 80vh;
}