.section-projects {
    padding: 13rem 7rem 1rem 7rem;
    height: 100vh;
}

.section-work {
    padding: 13rem 7rem 1rem 7rem;
    height: 100vh;
}

.section-about {
    padding: 13rem 7rem 1rem 7rem;
    height: 100vh;
}

.section-contact {
    padding: 13rem 7rem 1rem 7rem;
    height: 95vh;
}
