.hero{
    overflow: hidden;
    z-index: 100;
    padding-top: 9rem;
    
    &__box{
        max-width: 140rem;
        display: flex;
        height: 80vh;
        align-items: center;
        justify-content:center;
        margin: 0 auto;
       

    }
    &__box--intro{
        flex:1;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    &__box--title{
        color: #fff;
        background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
        background-clip: text;    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Biotif-Bold;
        font-size: 10rem;
        letter-spacing: -0.17rem;
        line-height: 110%;
        user-select: none;
        -webkit-user-select: none; /*Safari*/
        -moz-user-select: none;
    }


    &__box--subtitle{
        max-width: 90%;
        padding: 2rem 0.3rem;
        color: #fff;
        line-height: 4rem;
        font-family: Biotif-Bold;
        font-size: 2.2rem;
    }

    &__box--image{
        flex:1;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    &__image{
        width: 93%;
        height: 93%;
        border-radius: 33px;
    }

    &__image--container{
        height: 55rem;
        width: 55rem;
        border-radius: 40px;
        background:#292D32 ;
        display: flex;
        justify-content: center;
        align-items:center;
        box-shadow:  38px 38px 77px $box-shadow-one,
        -38px -38px 77px $box-shadow-two;
        transition: all 0.3s ease-in-out;

        &:hover{
        transform: scale(1) translateY(-.2rem) translateX(-.2rem);
        box-shadow: inset 38px 38px 77px $box-shadow-one,
        inset -38px -38px 77px $box-shadow-two;
        }
    }
}