.list {
    color: $color-white;
    font-family: Lato-Bold;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 1.6rem;
    column-gap: 3rem;

    &__item {
        display: flex;
        align-items: center;
        text-align: start;
        padding-top: 1rem;
        white-space: nowrap;
        height: 4.5rem;
        gap: 0.5rem;
    }

    &__answer {
        font-family: Lato-Light;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 4rem;
        height: 100%;
        font-size: 2.7rem;

        color: $tertiary-color;
    }
}
