.list {
    color: $color-white;
    font-family: Lato-Bold;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 1.6rem;
    column-gap: 3rem;
    justify-content: center;

    &__item {
        display: flex;
        align-items: center;
        text-align: start;
        padding-top: 1rem;
        white-space: nowrap;
    }

    &__answer {
        font-family: Lato-Light;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 3.5rem;
        font-size: 2.7rem;
        color: $tertiary-color;
    }
}
