.projects {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background: #292d32;
    border: 2px solid $border-color;
    box-shadow: inset 33px 33px 70px #202428, inset -33px -33px 70px #32363d;
    padding: 5rem 5rem;

    &__flexbox {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.card {
    width: 27rem;
    border-radius: 2rem;
    height: 45rem;
    background: linear-gradient(145deg, #25292d, #2c3036);
    box-shadow: 16px 16px 36px #202327, -16px -16px 36px #32373d;
    padding: 2rem 2rem;
    border: 1px solid $border-color;
    position: relative;

    &__top {
        z-index: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 32rem;
        padding: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
        transition: all 0.4s;
    }

    &__overview {
        font-size: 1.4rem;
        font-family: Lato-Bold;
        text-align: center;
        color: black;
    }

    &:hover &__top {
        transform: translateY(-5rem);
        height: calc(80% + 5rem);
        animation-name: cards;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__description {
        font-size: 1.4rem;
        font-family: Biotif-Medium;
        text-align: start;
        color: black;
        text-transform: uppercase;
        height: 2rem;

        &--back {
            opacity: 0;
            height: 0;
        }
    }

    &:hover &__description--front {
        animation-name: moveOutUpTitle;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &:hover &__description--back {
        animation-name: moveInUpTitle;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__list {
        margin-top: 1.5rem;
        text-align: start;
        list-style: none;
        font-size: 1.4rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin: 2px 0;
        font-family: Lato-Bold;
        transition: all 0.4s;

        &--front {
            margin: 0px 0;
        }

        &--back {
            font-size: 0;
            opacity: 0;
        }
    }

    &:hover &__item--front {
        animation-name: moveOutUpList;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &:hover &__item--back {
        animation-name: moveInUpList;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__icon {
        width: 3.5rem;
        font-size: 3rem;
        transition: all 0.4s;
        text-align: center;

        &--back {
            font-size: 0rem;
        }
    }

    &:hover &__icon--front {
        animation-name: moveOutUpIcon;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &:hover &__icon--back {
        animation-name: moveInUpIcon;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    &__bottom {
        position: absolute;
        top: 34rem;
        left: 2rem;
        display: flex;
        width: 23rem;
        justify-content: center;
        align-items: center;
        height: 6.2rem;
    }

    &__title {
        flex: 1.3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 5.7rem;
        //background-color: #85ffbe;
        &--name {
            font-size: 2.9rem;
            color: rgb(205, 204, 204);
            font-family: Biotif-Regular;
        }

        &--platform {
            font-size: 1.3rem;
            color: rgb(205, 204, 204);
            font-family: Biotif-Italic;
            text-transform: uppercase;
        }
    }

    &__more {
        height: 100%;
        flex: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;

        &--btn {
            &,
            &:link,
            &:visited {
                height: 5rem;
                width: 5rem;
                border-radius: 50px;
                background: $primary-color;
                box-shadow: 14px 14px 22px #1b1e21, -14px -14px 22px #373c43;
                border: 1px solid $border-color;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                color: $secondary-color;
            }

            &:active {
                box-shadow: inset 8px 8px 16px $box-shadow-one, inset -8px -8px 16px $box-shadow-two;
            }

            &:hover {
                color: $color-white;
                border: 1px solid #22242a;
            }
        }
    }
}

#mobile {
    filter: blur(0px);
    background-color: #8bc6ec;
    background-image: linear-gradient(80deg, #fffb7d 0%, #aced81 90%);
}

#react {
    color: rgb(9, 98, 242);
}
#redux {
    color: #00a7e5;
}

#figma {
    color: rgb(197, 43, 197);
}

#aws {
    color: rgb(3, 35, 87);
}

#sass {
    color: rgb(255, 92, 255);
}

#html5 {
    color: rgb(227, 76, 38);
}

#firebase {
    color: #f5820d;
}

#web {
    background-color: #8bc6ec;
    background-image: linear-gradient(80deg, #aced81 0%, #fffb7d 90%);
}
