


.projects{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background: #292D32;
    box-shadow: inset 33px 33px 70px #202428,
    inset -33px -33px 70px #32363d;
    padding: 5rem 5rem;

    &__flexbox{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;

       
    }
    &__card{
        width: 27rem;
        border-radius: 2rem;
        height: 45rem;
        background: linear-gradient(145deg, #25292d, #2c3036);
        box-shadow:  16px 16px 36px #202327,
        -16px -16px 36px #32373d;
        padding:2rem 2rem;
        border:1px solid $border-color;
    }

    &__card-container{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 80%;
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
        transition: all 0.4s;

        :hover > & {
            transform: translateY(-5rem);
            height: calc(80% + 5rem)
          }
    
    }


    &__card-title{
        font-size: 3rem;
        color: rgb(205, 204, 204);
        font-family: Biotif-Regular;
    }

    &__card-subtitle{
        font-size: 1.5rem;
        color: rgb(205, 204, 204);
        font-family: Biotif-Italic;
    }

    
}