.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    :nth-child(2){
      animation-delay: 2s;
    }
  }

  .typing-demo-1{
    width: 36ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
    animation-fill-mode: forwards;
  }

  .typing-demo-2{
    width: 24ch;
    animation: typing2 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2.5rem;
    visibility: hidden;
    animation-fill-mode: forwards;  
    text-align: center;


  }

  @keyframes typing {
    from {
      width: 0;
    }
    to{
      border-right:0;
    }
  }

  @keyframes typing2 {
    from {
      width: 0;
      visibility: visible;
    }
    to{
      visibility: visible;
    }
    
  }
    
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }