.work {
    flex: 1 1 38rem;
    width: 38rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    transition: max-height 0.6s;
    color: $color-white;
    overflow: hidden;
    max-height: 12rem;
    @include neumorph(false, 1rem, 3rem, 2rem, $box-shadow-one, $box-shadow-two);

    &--1 {
        align-self: flex-end;
    }

    &--2 {
        margin-left: 50%;
    }

    &--3 {
        margin-left: 25%;
    }

    &--4 {
        align-self: flex-start;
    }

    &:hover {
        z-index: 50;
        max-height: 26rem;
        border: 2px solid #22242a;
    }

    @include respond(tab-land) {
        align-self: center;
        margin: 1rem 0;
        transform: scale(1.9);
        &:hover {
            margin: 7rem 0;
        }
    }

    @include respond(phone) {
        transform: scale(1.8);
        &:hover {
            margin: 6rem 0;
        }
    }

    &__experience {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &--company {
            font-family: $font-bold;
            font-size: 2.5rem;
        }
        &--location {
            font-family: $font-light;
            font-size: 1.7rem;
        }
    }

    &__position {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        flex: 1;

        &--name {
            font-family: $font-regular;
            font-size: 1.8rem;
        }

        &--date {
            font-family: $font-light;
            font-size: 1.4rem;
        }
    }

    &__desc-container {
        padding: 0.8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__line {
        margin-top: 0.7rem;
        background-color: $secondary-color;
        width: 100%;
        overflow: hidden;
        min-height: 0.1rem;
    }

    &__responsibility {
        opacity: 0;
        font-family: $font-regular;
        color: $color-white;
        padding: 1rem 0rem;
        font-size: 1.7rem;
        transition: all 0.7s;
    }

    &:hover > &__responsibility,
    &:hover > &__tools {
        animation-name: tools;
        animation-duration: 0.7s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
    &__tools {
        opacity: 0;
        margin-top: 0.5rem;
        list-style: none;
        font-family: $font-regular;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        font-size: 1.6rem;

        &--item {
            width: 15rem;
            color: $color-white;
            margin-bottom: 0.5rem;

            &::before {
                content: "\2022"; /* Unicode bullet symbol */
                color: $secondary-color;
                padding-right: 1rem;
            }
        }
        @include respond(tab-land) {
            font-size: 2rem;
        }
    }
}
